.center-container
  .absolute-center.text-center
    %h1.headline EXPERTS
    - if user_signed_in?
      .action-button Thanks for signing up!
    - else
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        .input-field
          = f.text_field :first_name, :autofocus => true, placeholder: "First Name"
        .input-field
          = f.text_field :last_name, :autofocus => true, placeholder: "Last Name"
        .input-field
          = f.text_field :username, :autofocus => true, placeholder: "Username"
        .input-field
          = f.text_field :email, :autofocus => true, placeholder: "Email"
        .input-field
          = f.text_field :mobile_number, :autofocus => true, placeholder: "Mobile Number"
        .input-field
          = f.text_field :expertise, :autofocus => true, placeholder: "Expertise"
        .input-field
          = f.password_field :password, placeholder: "Password"
        .action-button= f.submit "Join us"


