.center-container
  .absolute-center.text-center
    %h1 Phone number/Zipcode
    = form_for(@user, url: wizard_path, :method => :put) do |f|
      = render partial: "users/error_messages", locals: { user: @user }
      .input-field
        = f.text_field :first_name, :placeholder => "First name"
      .input-field
        = f.text_field :last_name, :placeholder => "Last name"
      .input-field
        = f.text_field :mobile_number, :placeholder => "Cell number"
      .input-field
        = f.text_field :zipcode, :placeholder => "Zipcode"
      .action-button.submit
        = f.submit 'Finish'
