!!!
%html
  %head
    %title My Experts
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet", type: "text/css"}/
    %script(src="http://js.pusher.com/2.2/pusher.min.js")
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: controller_name + "-" + controller.action_name}
    = render 'layouts/header'
    .main-container
      = yield
